body {
  background-color: #181a1e;
}

// отсчет времени
.time {
  max-width: 700px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  /*   font-size: 22px; */
  font-weight: bold;
}
.time__text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.time__block {
  width: 150px;
  height: 100px;
  border: 2px solid #2d2d2d;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// отсчет времени --- конец

// форма заполнения
.form {
  max-width: 1000px;
  margin: 300px 0px 0px 16%;
  // outline: 2px solid red;
  display: flex;
  padding: 10px;
  text-align: left;
  @media only screen and (max-width: 1024px) {
    margin: 300px auto;
  }

  .form__text {
    width: 70%;
  }
  .form__text__first {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0px;
  }
  .form__text__second {
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    margin-top: 30px;
  }
}
.form__write {
  flex-direction: column;
  display: flex;
  justify-content: space-around;

  p {
    margin: 5px;
    text-align: center;
    color: #ffffff;
  }
  .tel {
    width: 330px;
    height: 50px;
    background: #2f3034;
    // opacity: 0.1;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  ::placeholder {
    color: #ffffff;
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  button {
    margin: 35px auto 0px;
    width: 330px;
    // padding: 0px 40px;
    height: 60px;
    background: #ff2f00;
    border-radius: 3px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    animation: button-shadow 1.5s infinite alternate;
    cursor: pointer;

    @media only screen and (max-width: 768px) {
      width: 315px;
    }
  }
  @keyframes button-shadow {
    // 0% {
    //   box-shadow: 0px 0px 20px 0px rgba(190, 77, 227, 0);
    // }
    100% {
      box-shadow: 0px 0px 20px 0px #ff2f00;
    }
  }
  button:hover {
    animation: 1.2s ease-in-out 0s normal none infinite running
      trambling-animation;
  }
  @keyframes trambling-animation {
    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }
    10%,
    30% {
      transform: rotate(-10deg);
    }
    20%,
    40% {
      transform: rotate(10deg);
    }
  }
}

// форма заполнения -- конец
main {
  overflow: hidden;
}
.first-block {
  margin: 112px 0px 230px 0px;
  position: relative;
}
.position {
  position: absolute;
}
.img-1 {
  top: 300px;
  left: 0px;
  z-index: -1;
}
.img-2 {
  top: 0px;
  right: 0px;
  z-index: -1;
}
.img-3 {
  top: -60%;
  left: 40%;
  z-index: -10;
}
.img-4 {
  top: 700px;
  right: -20%;
  // transition: 60s;
  animation: loader-1 20.1s infinite linear;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .img-1,
  .img-2,
  .img-4 {
    width: 35%;
  }
  .img-3 {
    width: 25%;
  }
}
@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.marquee {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.marquee img {
  max-width: 100%;
  max-height: 100px;
  padding: 0 50px;
  flex-shrink: 0;
  animation: marquee 10s linear infinite;
  z-index: -1;
}

.marquee__second-block img {
  margin: 40px 0px;
  animation: marquee__second-block 10s linear infinite;
  z-index: -1;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes marquee__second-block {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.cordless {
  position: relative;
  // outline: 1px solid #ff2f00;
  // height: 600px;

  .cordless__block {
    position: relative;
    width: 100%;
    max-width: 1420px;
    margin: 0px auto;
    @media only screen and (max-width: 768px) {
      margin: 100px auto;
    }
    @media only screen and (max-width: 375px) {
      margin: 0px auto;
    }

    .cordless__img {
      position: absolute;
      top: -300px;
      left: -50%;
      width: 80%;
      // transition: 6s;
      animation: translating 20s linear infinite;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        top: -390%;
        left: -20%;
        // width: 70%;
      }
      @media only screen and (max-width: 375px) {
        top: -170%;
      }
    }
    @keyframes translating {
      0% {
        transform: translate(0, 50px) rotate(0deg);
      }
      25% {
        transform: translate(30px, 0) rotate(5deg);
      }
      50% {
        transform: translate(0px, 50px) rotate(10deg);
      }
      75% {
        transform: translate(20px, 10px) rotate(5deg);
      }
      100% {
        transform: translate(0, 50px) rotate(0deg);
      }
    }
    .cordless__img-2 {
      position: absolute;
      top: -220px;
      right: -20%;
      width: 80%;
      // transition: 6s;
      animation: translating2 10s linear infinite;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        top: -560px;
        right: -20%;
      }
      @media only screen and (max-width: 375px) {
        top: -140%;
      }
    }
    @keyframes translating2 {
      0% {
        transform: translate(10, 0px) rotate(10deg);
      }
      25% {
        transform: translate(45px, 10) rotate(5deg);
      }
      50% {
        transform: translate(60px, 10px) rotate(0deg);
      }
      75% {
        transform: translate(0px, 30px) rotate(5deg);
      }
      100% {
        transform: translate(10, 0) rotate(10deg);
      }
    }

    .price {
      width: 601px;
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 63px;
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // outline: 2px solid red;
      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    .cordless__prise {
      margin: 0px auto;

      @media only screen and (max-width: 768px) {
        margin-top: 327px;
      }
      @media only screen and (max-width: 375px) {
        margin-top: 140px;
      }
    }

    button {
      margin: 0px auto;
      width: 174px;
      // padding: 0px 40px;
      height: 60px;
      background: #ff2f00;
      border-radius: 3px;
      outline: none;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      animation: button-shadow 1.5s infinite alternate;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        width: 315px;
      }
    }
    @keyframes button-shadow {
      // 0% {
      //   box-shadow: 0px 0px 20px 0px rgba(190, 77, 227, 0);
      // }
      100% {
        box-shadow: 0px 0px 20px 0px #ff2f00;
      }
    }
    button:hover {
      animation: 1.2s ease-in-out 0s normal none infinite running
        trambling-animation;
    }
    @keyframes trambling-animation {
      0%,
      50%,
      100% {
        transform: rotate(0deg);
      }
      10%,
      30% {
        transform: rotate(-10deg);
      }
      20%,
      40% {
        transform: rotate(10deg);
      }
    }
  }
}

// -------------СВАРОЧНЫЕ АППАРАТЫ

.welders__img {
  position: absolute;
  top: 0px;
  left: -30%;
  width: 80%;
  // transition: 10s;
  animation: translating3 20s linear infinite;
  z-index: -1;
  @media only screen and (max-width: 768px) {
    top: -610px;
    left: 35%;
    z-index: 1;
  }
  @media only screen and (max-width: 375px) {
    top: -250px;
  }
}

@keyframes translating3 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 20) rotate(5deg);
  }
  50% {
    transform: translate(25px, 40px) rotate(20deg);
  }
  75% {
    transform: translate(50px, 20px) rotate(10deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}

.welders__img-2 {
  position: absolute;
  top: -600px;
  right: -30%;
  width: 110%;
  animation: translating4 20s linear infinite;
  z-index: -1;
  // transition: 10s;
  @media only screen and (max-width: 768px) {
    top: -840px;
    left: -38%;
  }
  @media only screen and (max-width: 375px) {
    top: -350px;
  }
}
@keyframes translating4 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 20) rotate(-5deg);
  }
  50% {
    transform: translate(150px, 60px) rotate(-10deg);
  }
  75% {
    transform: translate(50px, 20px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}

.welders__price {
  margin: 0px 0px 0px 5%;

  @media only screen and (max-width: 768px) {
    margin: 0px auto;
  }
}

// -------------РЕЙСМУС

.wood-machine__img {
  position: absolute;
  top: -400px;
  left: -30%;
  width: 100%;
  // transition: 6s;
  animation: translating4 20s linear infinite;
  z-index: -1;
  @media only screen and (max-width: 768px) {
    top: -680px;
  }
  @media only screen and (max-width: 375px) {
    top: -440px;
    width: 130%;
  }
}
@keyframes translating4 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(80px, 20) rotate(5deg);
  }
  50% {
    transform: translate(130px, 40px) rotate(-5deg);
  }
  75% {
    transform: translate(80px, 20px) rotate(5deg);
  }

  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
.wood-machine__price {
  margin: 0px 0px 0px 70%;

  @media only screen and (max-width: 768px) {
    margin: 0px auto;
  }
}

// -------------ПЕРФОРАТОР

.perforator__img {
  position: absolute;
  top: -300px;
  left: 20%;
  width: 100%;
  // transition: 10s;
  animation: translating5 20s linear infinite;
  z-index: -1;
  @media only screen and (max-width: 768px) {
    top: -410px;
    left: 5%;
  }
  @media only screen and (max-width: 375px) {
    top: -430px;
    width: 200%;
    left: -45%;
  }
}
@keyframes translating5 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(100px, 20) rotate(5deg);
  }
  50% {
    transform: translate(150px, 40px) rotate(-5deg);
  }
  75% {
    transform: translate(100px, 20px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
.perforator__price {
  margin: 0px 0px 0px 5%;
  @media only screen and (max-width: 768px) {
    margin: 0px auto;
    margin-top: 400px;
  }
}

// -------------ПЫЛЕСОС

.vacuum-cleaner__img {
  position: absolute;
  top: -600px;
  left: -30%;
  width: 100%;
  // transition: 10s;
  animation: translating6 20s linear infinite;
  z-index: -1;
  @media only screen and (max-width: 768px) {
    left: -40%;
  }
  @media only screen and (max-width: 375px) {
    top: -550px;
    left: -60%;
    width: 180%;
  }
}
@keyframes translating6 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(100px, 20) rotate(5deg);
  }
  50% {
    transform: translate(150px, 40px) rotate(-5deg);
  }
  75% {
    transform: translate(100px, 20px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
.vacuum-cleaner__price {
  margin: 0px 0px 0px 70%;
  @media only screen and (max-width: 768px) {
    margin: 0px auto;
  }
}
// -------------ВСЕ АКЦИИ

.shares__price {
  margin: 0px auto;
  width: 620px;
}

.cordless__position {
  margin: 450px 0px 1000px;
  @media only screen and (max-width: 768px) {
    margin: 800px 0px 600px 0px;
  }
  @media only screen and (max-width: 375px) {
    margin: 400px 0px 400px 0px;
  }
}
.welders__position {
  margin: 200px 0px;
}
.wood-machine__position {
  margin: 900px 0px 0px 0px;
  @media only screen and (max-width: 768px) {
    margin: 500px 0px 0px 0px;
  }
}
.perforator__position {
  margin: 950px 0px 0px 0px;
  @media only screen and (max-width: 768px) {
    margin: 200px 0px 100px 0px;
  }
}
.vacuum-cleaner__position {
  margin: 550px 0px 350px 0px;
  @media only screen and (max-width: 768px) {
    margin: 300px 0px 100px 0px;
  }
  @media only screen and (max-width: 375px) {
    margin: 400px 0px 100px 0px;
  }
}
.shares__position {
  text-align: center;
  margin: 400px 0px;
}
.shares__price p {
  margin: 0px auto;
}

.footer-block {
  margin: 0px auto;
  // width: 620px;
}
