body {
  background-color: #181a1e;
}
main {
  overflow: hidden;
}
.first-block {
  margin: 112px 0px 600px 0px;
  position: relative;
}
.position {
  position: absolute;
}
.img-1 {
  top: 300px;
  left: 0px;
  z-index: -1;
}
.img-2 {
  top: 0px;
  right: 0px;
  z-index: -1;
}
.img-3 {
  top: -200px;
  left: 400px;
  z-index: -1;
}
.img-4 {
  top: 200px;
  right: -20%;
  transition: 60s;
  animation: loader-1 20.1s infinite linear;
  z-index: -1;
}
@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.marquee {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.marquee img {
  max-width: 100%;
  max-height: 100px;
  padding: 0 50px;
  flex-shrink: 0;
  animation: marquee 10s linear infinite;
  z-index: -1;
}

.marquee__second-block img {
  margin: 40px 0px;
  animation: marquee__second-block 10s linear infinite;
  z-index: -1;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes marquee__second-block {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.cordless {
  position: relative;
  outline: 1px solid #ff2f00;
  height: 600px;

  .cordless__block {
    position: relative;
    width: 100%;
    max-width: 1420px;
    margin: 0px auto;
    // outline: 2px solid red;

    .cordless__img {
      position: absolute;
      top: -300px;
      left: -50%;
      width: 80%;
      transition: 6s;
      animation: translating 20s linear infinite;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        top: -700px;
        left: -20%;
        // width: 70%;
      }
    }
    @keyframes translating {
      0% {
        transform: translate(0, 50px) rotate(0deg);
      }
      25% {
        transform: translate(30px, 0) rotate(5deg);
      }
      50% {
        transform: translate(0px, 50px) rotate(10deg);
      }
      75% {
        transform: translate(20px, 10px) rotate(5deg);
      }
      100% {
        transform: translate(0, 50px) rotate(0deg);
      }
    }
    .cordless__img-2 {
      position: absolute;
      top: -220px;
      right: -20%;
      width: 80%;
      transition: 6s;
      animation: translating2 10s linear infinite;
      z-index: -1;
      @media only screen and (max-width: 768px) {
        top: -560px;
        right: -20%;
        // width: 70%;
      }
    }
    @keyframes translating2 {
      0% {
        transform: translate(10, 0px) rotate(10deg);
      }
      25% {
        transform: translate(45px, 10) rotate(5deg);
      }
      50% {
        transform: translate(60px, 10px) rotate(0deg);
      }
      75% {
        transform: translate(0px, 30px) rotate(5deg);
      }
      100% {
        transform: translate(10, 0) rotate(10deg);
      }
    }

    .price {
      width: 320px;
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 63px;
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    .cordless__prise {
      margin: 0px auto;

      @media only screen and (max-width: 768px) {
        margin-top: 327px;
      }
    }

    button {
      margin: 0px auto;
      width: 174px;
      // padding: 0px 40px;
      height: 60px;
      background: #ff2f00;
      border-radius: 3px;
      outline: none;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      animation: button-shadow 1.5s infinite alternate;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        width: 315px;
      }
    }
    @keyframes button-shadow {
      // 0% {
      //   box-shadow: 0px 0px 20px 0px rgba(190, 77, 227, 0);
      // }
      100% {
        box-shadow: 0px 0px 20px 0px #ff2f00;
      }
    }
    button:hover {
      animation: 1.2s ease-in-out 0s normal none infinite running
        trambling-animation;
    }
    @keyframes trambling-animation {
      0%,
      50%,
      100% {
        transform: rotate(0deg);
      }
      10%,
      30% {
        transform: rotate(-10deg);
      }
      20%,
      40% {
        transform: rotate(10deg);
      }
    }
  }
}
// -------------СВАРОЧНЫЕ АППАРАТЫ

.welders__img {
  position: absolute;
  top: 0px;
  left: -30%;
  width: 80%;
  transition: 10s;
  animation: translating3 20s linear infinite;
  z-index: -1;
  @media only screen and (max-width: 768px) {
    top: -510px;
    left: 35%;
    z-index: 1;
  }
}

@keyframes translating3 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 20) rotate(5deg);
  }
  50% {
    transform: translate(25px, 40px) rotate(20deg);
  }
  75% {
    transform: translate(50px, 20px) rotate(10deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}

.welders__img-2 {
  position: absolute;
  top: -600px;
  right: -30%;
  width: 110%;
  animation: translating4 20s linear infinite;
  z-index: -1;
  transition: 10s;
  @media only screen and (max-width: 768px) {
 
    top: -760px;
    left: -38%;
  }
}
@keyframes translating4 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 20) rotate(-5deg);
  }
  50% {
    transform: translate(150px, 60px) rotate(-10deg);
  }
  75% {
    transform: translate(50px, 20px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}

.welders__price {
  margin: 0px 0px 0px 5%;

  @media only screen and (max-width: 768px) {
    margin: 0px auto;
  }
}


// -------------РЕЙСМУС

.wood-machine__img {
  position: absolute;
  top: -400px;
  left: -30%;
  width: 100%;
  transition: 6s;
  animation: translating4 20s linear infinite;
  z-index: -1;
  @media only screen and (max-width: 768px){
top: -680px;

  }
}
@keyframes translating4 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(100px, 20) rotate(5deg);
  }
  50% {
    transform: translate(150px, 40px) rotate(-5deg);
  }
  75% {
    transform: translate(100px, 20px) rotate(5deg);
  }

  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
.wood-machine__price {
  margin: 0px 0px 0px 70%;

  @media only screen and (max-width: 768px) {
  margin: 0px auto;
  }
}

// -------------ПЕРФОРАТОР

.perforator__img {
  position: absolute;
  top: -300px;
  left: 20%;
  width: 100%;
  // transition: 10s;
  animation: translating5 20s linear infinite;
  z-index: -1;
}
@keyframes translating5 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(100px, 20) rotate(5deg);
  }
  50% {
    transform: translate(150px, 40px) rotate(-5deg);
  }
  75% {
    transform: translate(100px, 20px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
.perforator__price {
  margin: 0px 0px 0px 5%;
}

// -------------ПЫЛЕСОС

.vacuum-cleaner__img {
  position: absolute;
  top: -600px;
  left: -30%;
  width: 100%;
  // transition: 10s;
  animation: translating6 20s linear infinite;
  z-index: -1;
}
@keyframes translating6 {
  0% {
    transform: translate(0, 0px) rotate(0deg);
  }
  25% {
    transform: translate(100px, 20) rotate(5deg);
  }
  50% {
    transform: translate(150px, 40px) rotate(-5deg);
  }
  75% {
    transform: translate(100px, 20px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0px) rotate(0deg);
  }
}
.vacuum-cleaner__price {
  margin: 0px 0px 0px 70%;
}
// -------------ВСЕ АКЦИИ

.shares__price {
  margin: 0px auto;
  width: 620px;
}

.cordless__position {
  margin: 800px 0px;
  @media only screen and (max-width: 768px) {
    margin: 800px 0px 600px 0px;
  }
}
.welders__position {
  margin: 200px 0px;
}
.wood-machine__position {
  margin: 550px 0px 0px 0px;
}
.perforator__position {
  margin: 550px 0px 0px 0px;
}
.vacuum-cleaner__position {
  margin: 350px 0px;
}
.shares__position {
  text-align: center;
}
.shares__price p {
  margin: 0px auto;
}
